@charset "UTF-8";

*{
	margin : 0;
	padding : 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color : black;
}
a:visited{
	color : black;
}
/* 헤더 컴포넌트 */
#headerBox{
	width : 100%;
	height : 50px;
	display : flex;
	margin-bottom : 20px;
	background-color : #FF5A5A;
	font-weight : bold;
	justify-content: space-between;
}
#boardHeader{
	padding-top : 0.5rem;
	padding-left : 1rem;
	text-align : center;
	font-size : 20px;
	cursor : pointer;
}
#boardHeader:hover{
	color : #fff;
}
#userBox{
	width : 13%;
	height : 50px;
	margin-right : 10px;
	list-style: none;
	display : flex;
	background-color : #FF5A5A;
	align-items: center;
}
#userBox > li{
	width : 50%;
	border : none;
	cursor : pointer;
	text-align: center;
}
#userBox > li:hover{
	color : #fff;
}

#boardFooter{
	width : 100%;
	height : 50px;
	padding-top : 8px;
	margin-top : 20px;
	text-align : center;
	background-color : #FF5A5A;
	font-size : 20px;
	font-weight : bold;
}
/* 회원가입 화면 */
#idBox{
	display : flex;
}
#checkId{
	width : 15%;
	border : 1px solid #0b5ed7;
	background-color : #0b5ed7;
	border-radius : 5px;
	color : #fff;
	font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
}
#mrole{
	border : none;
	background-color : #0b5ed7;
	border-radius : 5px;
	color : #fff;
	font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
}

/* 게시판화면 */
#boardTop{
	display : flex;
	justify-content: space-between;
}
#boardTop > div {
	display : flex;
}
#selectType{
	width : 80px;
	text-align: center;
}
#searchBox{
	width : 400px;
}
#paging{
	width : 30%;
	margin : 0 auto;
	padding-left : 0;
	display : flex;
	justify-content: center;
}
#paging > span{
	width : 10%;
	margin : 0 auto;
	padding-left : 0;
}
/* 글 작성 화면 */
#editorTxt{
	width : 99.8%;
}
#boardWrite{
	display : flex;
	justify-content: space-between;
}
#clearBtn{
	width : 80px;
}
/* 글 상세화면 */
#boardPageBox{
	width : 90%;
	margin : 0 auto;
}
#boardTitleBox{
	width : 100%;
}
#boardToolBox{
	width : 100%;
	height : 40px;
	margin : 20px auto;
	display : flex;
	position : relative;
	border-bottom: 1px solid #BDBDBD;
	color : #8C8C8C;
}
#boardToolBox > div:nth-child(2){
	margin-left: 10px;
}
#boardFuncBox{
	width : 100px;
	height : 20px;
	right : 3px;
	position : absolute;
}
#funcBtn{
	cursor : pointer;
	width : 20px;
	height : 20px;
	position : absolute;
	right : 1px;
	background : url("/images/dotmenu.png") no-repeat center;
	background-size: contain; 
}
#boardFunc{
	width : 100%;
	height : 80px;
	margin-top : 20px;
	list-style: none;
	padding-left : 0;
}
.viewOn{
	display : block;
	background-color : #fff;
	border : 1px solid black;
	border-radius: 5px;
}
.viewOff{
	display : none;
}
#boardFunc li{
	width : 100%;
	height : 50%;
	cursor : pointer;
	text-align: center;
	align-items: center;
	line-height: 2.8;
	font-size: 13px;
}
#boardFunc li:nth-child(1){
	color : black;
	border-bottom : 1px solid #BDBDBD;
}
#boardFunc li:nth-child(2){
	color : red;
}
#boardContentBox{
	width : 100%;
	border-bottom: 1px solid #BDBDBD;
}
/* 댓글입력창 */
#replyInputBox{
	width : 100%;
	margin-top : 20px;
	border : 1px solid #BDBDBD;
	border-radius: 5px;
}
#replyInfo{
	width : 100%;
	display : flex;
	justify-content: space-between;
}
#replyInfo div:nth-child(1){
	padding-top : 4px;
	margin-left : 13px;
}
#replyInfo div:nth-child(2) > span{
	margin-right : 15px;
}
/* 댓글 리스트 */
.replyContentBox{
	width : 100%;
	margin-top : 20px;
	border : 1px solid #BDBDBD;
	border-radius: 5px;
}
.replyInfo{
	display : flex;
	position : relative;
}
.replyDate{
	margin-left : 10px;
	color : #8C8C8C;
}
.replyFuncBox{
	width : 100px;
	height : 20px;
	right : 3px;
	position : absolute;
}
.rfuncBtn{
	cursor : pointer;
	width : 20px;
	height : 20px;
	position : absolute;
	right : 1px;
	background : url("/images/dotmenu.png") no-repeat center;
	background-size: contain; 
}
.replyFunc{
	width : 100%;
	height : 80px;
	margin-top : 20px;
	list-style: none;
	padding-left : 0;
	position: absolute;
	z-index : 100;
}
.replyFuncLi{
	width : 100%;
	height : 50%;
	cursor : pointer;
	text-align: center;
	align-items: center;
	line-height: 2.8;
	font-size: 13px;
}
.replyFuncLi1{
	color : black;
	border-bottom : 1px solid #BDBDBD;
}
.replyFuncLi2{
	color : red;
}
.replyContent{
	width : 100%;
	border-bottom : 1px solid #BDBDBD;
}











