@charset "EUC-KR";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*header css*/
#header {
	width: 100%;
	height: 50px;
	margin: 0 auto;
	border: 1px solid black;
	background-color: lightgreen;
}

#nav {
	width: 500px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-weight: bold;
	list-style: none;
	display: flex
}

#nav>li a {
	text-decoration: none;
}

/*leaflet2 css*/
#map {
	width: 900px;
	height: 700px;
	margin: 0 auto;
	display: flex;
}

#apps {
	width: 900px;
	margin: 0 auto;
}

#buttons, #apps>div {
	width: 100%;
	margin-top: 5px;
	display: flex;
	justify-content: space-between;
}

/* openlayers css */
.ol-popup {
	position: absolute;
	background-color: white;
	-webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
	filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
	padding: 15px;
	border-radius: 10px;
	border: 1px solid #cccccc;
	bottom: 12px;
	left: -50px;
	min-width: 280px;
}

.ol-popup:after, .ol-popup:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.ol-popup:after {
	border-top-color: white;
	border-width: 10px;
	left: 48px;
	margin-left: -10px;
}

.ol-popup:before {
	border-top-color: #cccccc;
	border-width: 11px;
	left: 48px;
	margin-left: -11px;
}

.ol-popup-closer {
	text-decoration: none;
	position: absolute;
	top: 2px;
	right: 8px;
}

.ol-popup-closer:after {
	content: "✖";
}